[submodule "src/submodules/gitsubmodules-package-child"]
	path = src/submodules/gitsubmodules-package-child
	url = git@github.com:oberoi-ishant/gitsubmodules-package-child.git
[submodule "src/submodules/gitsubmodule-package-utils"]
	path = src/submodules/gitsubmodule-package-utils
	url = git@github.com:oberoi-ishant/gitsubmodule-package-utils.git
